body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(241, 241, 83);
  color: #771e1e;
  padding: 20px;
  text-align: center;
}
h1 {
  font-weight: 300%;
  color: #771e1e;
  font-size: 40px;
  text-align: center;
}

.small {
  font-size: 25px;
  color: #771e1e;
  font-weight: 300%;
}
main {
  display: flex;
  background-color: rgb(211, 205, 205);
  padding: 40px;
  margin-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 5fr));
  gap: 20px;
  padding: 30px;
}

.gallery-item {
  margin: 20px;
  width: calc(33.3%-20px);
}
.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery-item p {
  font-size: 20px;
  color: #771e1e;
  margin-top: 10px;
  text-align: center;
}
/*responsive design */
@media (max-width: 768px) {
  .gallery-item {
    width: calc(50%-20px);
  }
}
@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}
footer {
  background-color: #383434;
  padding: 10px;
  border-top: 1px solid #ddd;
  clear: both;
  text-align: center;
  color: #ddd;
  font-size: 25px;
}
